.dog-photo-container {
    display: grid;
    grid-template-columns: 50%50%;
    grid-template-rows:repeat (5, 20%);  
}

.Dog-photo {
    height: 300px;
    width: 300px;    
}
 
.button {
     color:black;
     display: flex;
     justify-content: center;
    
 }
 
 
 
 
 @media (max-width: 640px) {
    .dog-photo-container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .Dog-photo {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .button {
        display:flex;
        color: black;
        justify-content:center;
        
 }
     
} 


    
    





