.dog-photo-container {
    display: grid;
    grid-template-columns: 50%50%;
    grid-template-rows:repeat (5, 20%);  
}
.photo-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.Dog-photo {
    border-radius:200px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,1);
    height: 300px;
    width: 300px;    
}
 


 
 
 
 
 @media (max-width: 640px) {
    .dog-photo-container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .Dog-photo {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .button {
        display:flex;
        color: black;
        justify-content:center;
        
 }
     
} 


    
    





